DATABASE_URL=
JWT_SECRET=
PORT=3000
NODE_ENV=development
LOG_LEVEL=info
ALLOWED_ORIGINS=
IP_HASH_SALT=
RESEND_API_KEY=
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER_NAME=
GOOGLE_CLIENT_ID=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
TEST_JWT=
TEST_JWT_AUTHOR=
TEST_JWT_PARTICIPANT=
TEST_JWT_JUDGE=
